{% extends 'EndoBundle:Common:layout.html.twig' %}
{% set sideBar = 'medicalRecords' %}

{% block content %}
    <div class="content-wrapper">
    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-sm-12">
              <div class="box without-border">
                <div class="box-header with-border">
                  <h3 class="box-title"><b>Clinical Record</b></h3>
                  <div class="box-tools pull-right">
                    <span class="small">
                        <i class="fa fa-database"></i> {{ medicalRecord.medicalRecordId }}
                    </span>
                    &nbsp;&nbsp;
                  </div>
                </div>
                <div class="box-body medical">
                    <h3>General information - {{ medicalRecord.name }}</h3>
                    <dl class="dl-horizontal">
                        <dt>Name</dt>
                        <dd>{{ medicalRecord.name }}</dd>
                        <dt>Age</dt>
                        <dd>{{ medicalRecord.age }}</dd>
                        <dt>Creation Date</dt>
                        <dd>{{ medicalRecord.date|date("F jS \\a\\t g:ia") }}</dd>
                        <dt>Sex</dt>
                        {% if medicalRecord.sex == 'F' %}
                            <dd>Female</dd>
                        {% else %}
                            <dd>Male</dd>
                        {% endif %}
                        <dt>Address</dt>
                        <dd>{{ medicalRecord.address }}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{ medicalRecord.phone }}</dd>
                        <dt>Email</dt>
                        <dd>{{ medicalRecord.email }}</dd>
                        <dt>Occupation</dt>
                        <dd>{{ medicalRecord.occupation }}</dd>
                        <hr>
                        <h3>In case of emergency</h3>
                        <dt>Contact</dt>
                        <dd>{{ medicalRecord.emergencyName }}</dd>
                        <dt>Phone Number</dt>
                        <dd>{{ medicalRecord.emergencyPhone }}</dd>
                        <dt>Relationship</dt>
                        <dd>{{ medicalRecord.emergencyRelation }}</dd>
                        <hr>
                        <dt>Doctor</dt>
                        <dd>{{ medicalRecord.doctorName }}</dd>
                        <dt>Reference</dt>
                        <dd>{{ medicalRecord.reference }}</dd>
                        <dt>Motive of visit</dt>
                        <dd>{{ medicalRecord.motive }}</dd>
                        <dt>Health State</dt>
                        {% if medicalRecord.healthState == 0 %}
                            <dd>Bad</dd>
                        {% elseif medicalRecord.healthState == 1 %}
                            <dd>Good</dd>
                        {% else %}
                            <dd>Regular </dd>
                        {% endif %}
                        <dt>Actual Medical Treatment</dt>
                        {% if medicalRecord.medicalTreatment %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Taking Medicine</dt>
                        {% if medicalRecord.takingMedicine != null %}
                            <dd>{{ medicalRecord.takingMedicine }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        {# TODO: #}
                        <dt>Patient illnesses</dt>
                        <dd><b class="label-danger">{{ medicalRecord.getIllnesses() }}</b></dd>
                        <dt>Observations</dt>
                        <dd>{{ medicalRecord.observations }}</dd>
                        <dt>Other Sickness</dt>
                        {% if medicalRecord.otherSickness != null %}
                            <dd><b class="label-danger">{{ medicalRecord.otherSickness }}</b></dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Anesthesia Reaction</dt>
                        {% if medicalRecord.anesthesiaReaction %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Medicine Reaction</dt>
                        {% if medicalRecord.medicineReaction != null %}
                            <dd>{{ medicalRecord.medicineReaction }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Long time bleeding</dt>
                        {% if medicalRecord.bleeding %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Frequent fainting</dt>
                        {% if medicalRecord.fainting  %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Chemotherapy</dt>
                        {% if  medicalRecord.chemotherapy != null %}
                            <dd>{{ medicalRecord.chemotherapy|date("F jS \\a\\t g:ia") }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Hospitalization</dt>
                        {% if medicalRecord.hospitalisation != null %}
                            <dd>Reason: {{ medicalRecord.hospitalisation }} - Date: {{ medicalRecord.hospitalisationDate|date("F jS \\a\\t g:ia") }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Nervous</dt>
                        {% if medicalRecord.nervous %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Smoke</dt>
                        {% if medicalRecord.smoke != null %}
                            <dd>{{ medicalRecord.smoke }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Drink</dt>
                        {% if medicalRecord.drink != null%}
                            <dd>{{ medicalRecord.drink }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        {% if medicalRecord.sex == 'F' %}
                            <dt>Pregnant</dt>
                            {% if medicalRecord.pregnant != null %}
                                <dd>{{ medicalRecord.pregnant }}</dd>
                            {% else %}
                                <dd>No</dd>
                            {% endif %}
                            <dt>Period Problems</dt>
                            {% if medicalRecord.periodProblems %}
                                <dd>Yes</dd>
                            {% else %}
                                <dd>No</dd>
                            {% endif %}
                            <dt>Contraceptive methods</dt>
                            {% if medicalRecord.hormones != null %}
                                <dd>{{ medicalRecord.hormones }}</dd>
                            {% else %}
                                <dd>No</dd>
                            {% endif %}
                            <dt>Breastfeeding</dt>
                            {% if medicalRecord.breastfeeding %}
                                <dd>Yes</dd>
                            {% else %}
                                <dd>No</dd>
                            {% endif %}
                        {% endif %}
                        <hr>
                        <h3>Dental history</h3>
                        <dt>Mouth pain</dt>
                        {% if medicalRecord.pain %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Bucal health</dt>
                        {% if medicalRecord.bucalHealth == 2 %}
                            <dd>Regular</dd>
                        {% elseif medicalRecord.bucalHealth == 1 %}
                            <dd>Good</dd>
                        {% else %}
                            <dd>Bad</dd>
                        {% endif %}
                        <dt>Happy with mouth appearance</dt>
                        {% if medicalRecord.appearance %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Bad dental experience</dt>
                        {% if medicalRecord.dentalExperience %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Bleeding gums</dt>
                        {% if medicalRecord.gumsBleed == 2 %}
                            <dd>I do not know</dd>
                        {% elseif medicalRecord.gumsBleed == 1 %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Gums Treatment</dt>
                        {% if medicalRecord.gumsTreatment %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Frequently breathing through mouth</dt>
                        {% if medicalRecord.mouthBreathing %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Ulcers or sores</dt>
                        {% if medicalRecord.ulcers %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Teeth sensitivity</dt>
                        {% if medicalRecord.sensibility != null %}
                            <dd>{{ medicalRecord.sensibility }}</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Loose tooth</dt>
                        {% if medicalRecord.looseTooth %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Brushing frequency</dt>
                        <dd>{{ medicalRecord.brushingFrequency }}</dd>
                        <dt>Auxiliary cleaning tool</dt>
                        {% if medicalRecord.auxiliaryCleaning %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <hr>
                        <h3>ATM</h3>
                        <dt>Grind or clench your teeth</dt>
                        {% if medicalRecord.squeezesTooth %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Face or neck muscles aching</dt>
                        {% if medicalRecord.musclePain %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Locked mouth</dt>
                        {% if medicalRecord.mouthStuck %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Clicking noise when open your mouth</dt>
                        {% if medicalRecord.click %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Pain in the ears</dt>
                        {% if medicalRecord.earPain %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Chew with all his teeth</dt>
                        {% if medicalRecord.chews %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Biting nails, pen or soft tissue</dt>
                        {% if medicalRecord.biteNails %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                        <dt>Facial trauma</dt>
                        {% if medicalRecord.trauma %}
                            <dd>Yes</dd>
                        {% else %}
                            <dd>No</dd>
                        {% endif %}
                    </dl>
                </div><!-- /.box-body -->
              </div><!-- /.box -->
            </div>
        </div>
    </section><!-- /.content -->
    </div><!-- /.content-wrapper -->
{% endblock %}